s5/data/lang/
s5/data/local/lang
s5/mfcc/
s5/exp/
s5/wav/
s5/data/local/tmp/
s5/data/train/conf/
s5/data/test/conf/
s5/data/train/split*/
s5/data/test/split*/
s5/transcriptions/*.ark
s5/transcriptions/cmvn.scp
s5/transcriptions/*feats.scp
s5/transcriptions/lda*.scp
s5/transcriptions/*.txt
s5/transcriptions/*.tra
